<div class="drp-flex drp-space-around">
  <button class="drp-btn flat" (click)="yearSelected(-1)" title="Previous year" aria-label="Previous year">
    <doubleChevronLeft></doubleChevronLeft>
  </button>
  <button class="drp-btn flat" (click)="monthSelected(-1)" title="Previous month" aria-label="Previous month">
    <chevronLeft></chevronLeft>
  </button>
  <label class="mb-0"> {{monthText}} {{year}} </label>
  <button class="drp-btn flat next" (click)="monthSelected(1)" title="Next month" aria-label="Next month">
    <chevronLeft class="right"></chevronLeft>
  </button>
  <button class="drp-btn flat next" (click)="yearSelected(1)" title="Next Year" aria-label="Next Year">
    <doubleChevronLeft class="right"></doubleChevronLeft>
  </button>
</div>
<div>
  <div class="drp-calendar-row">
    <span *ngFor="let day of weekDays">{{ day }}</span>
  </div>
  <div class="drp-flex drp-column">
    <div class="drp-calendar-row" *ngFor="let week of weekList; let i=index">
      <span *ngFor="let day of weekList[i]" (click)="dateSelected(day)"
        [ngClass]="{'off':!isDateAvailable(day),'active':isSelectedDate(day),'disabled':isDisabled(day)}">
        <button class="drp-btn flat" [attr.aria-label]="day | formatDate: format">{{ day.format('D') }}</button>
      </span>
    </div>
  </div>
</div>
<time-picker *ngIf="timePicker" [options]="timePicker" [selectedFromDate]="selectedFromDate"
  [selectedToDate]="selectedToDate" [minDate]="minDate" [maxDate]="maxDate" [format]="format" [isLeft]="isLeft"
  (timeChanged)="dateSelected($event)"></time-picker>
