.btn-link {
	border: none;
	background: transparent;
	color: blue;
	cursor: pointer;
}
.pull-right {
  float: right !important;
}
.text-center {
	text-align: center;
}
.float-left {
	float: left;
}