.hidden {
	display: none;
	visibility: false;
}

.daterangepicker {
	z-index: 3000;
	border-radius: 4px;
	box-shadow: 0px 2px 2px 2px #888888;
}
.daterangepicker .calendar {
    max-width: 270px;
    margin: 4px;
	float: left;
	border-radius: 4px !important;
}
.applyBtn{
	margin: 4px;
}
div{
	padding: 0 !important;
	margin: 0 !important;
}
.flush {
	padding: 0 !important;
	margin: 0 !important;
}
.nudge-top {
	top: 5px;
}
th {
	margin: 1px !important;
	padding: 1px !important;
	text-align: center;
	border-radius: 4px !important;
}
td {
	height: 20px;
	width: 20px;
	text-align: center;
	padding: 1px !important;
	margin: 1px !important;
	border-radius: 4px !important;
}
.btn.btn-flat {
	border: none;
	background: transparent;
	margin: 3px !important;
	padding: 1px !important;
}
.off {
	color: #A2A2A2;
}
body {
	font-family: "Helvetica Neue, Helvetica, Arial, sans-serif" !important;
	font-size: 14px;
}
