:root {
  --drp-input-height: 33px;
  --drp-input-border-radius: 4px;
  --drp-bg: hsla(0, 0%, 98%);
  --drp-fg: hsla(0, 0%, 20%);
  --drp-shadow-color: rgba(0, 0, 0, 0.2);
  --drp-hover-bg: hsla(0, 0%, 80%);
  --drp-outline-color: hsl(240deg, 50%, 30%);
  --drp-input-border-color: #666;
  --drp-input-disabled-color: #dedede;
}

.drp-wrapper {
  position: relative;
  border: none;
  font-feature-settings: "tnum";
  color: var(--drp-fg);
}

.drp-wrapper.dark {
  --drp-fg: hsla(0, 0%, 99%);
  --drp-bg: hsla(0, 0%, 20%);
  --drp-shadow-color: rgba(255, 255, 255, 0.2);
  --drp-hover-bg: hsla(0, 0%, 40%);
  --drp-outline-color: hsl(240deg, 30%, 90%);
  --drp-input-border-color: #666;
  --drp-input-disabled-color: #2d2d2d;
}

/* all input boxes */

.drp-input {
  padding: 0px 10px;
  height: var(--drp-input-height);
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--drp-input-border-radius);
  border: 1px solid var(--drp-input-border-color);
  cursor: text;
  background: var(--drp-bg);
  color: var(--drp-fg);
}

.drp-input[disabled] {
  background: var(--drp-input-disabled-color);
}

.drp-input[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

/* Selected date to be shown on top of each calendar */
.drp-selected-date {
  display: inline-block;
  min-height: 1rem;
}

/* the flyout/popup */

.drp-flyout {
  width: var(--drp-flyout-width, auto);
  position: absolute;
  background: var(--drp-bg);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px var(--drp-shadow-color);
  border: 1px solid #aaa;
  padding: 10px 10px 0;
  max-width: min-content;
}

.drp-flyout.right {
  width: var(--drp-flyout-single-calendar-width, auto);
}

.drp-flyout.right {
  right: 0;
}

.drp-flyout.left {
  left: 0;
}

.drp-flyout.center {
  left: -50%;
}

.drp-flyout.alwaysOpen {
  width: 100%;
  position: static;
}

.drp-flyout.tooltipChevron {
  top: calc(var(--drp-input-height) + 10px);
}

.drp-flyout.tooltipChevron::after,
.drp-flyout.tooltipChevron::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  transform: rotate(-45deg);
}

.drp-flyout.tooltipChevron::after {
  border-color: var(--drp-bg) var(--drp-bg) transparent transparent;
  border-width: 10px;
}

.drp-flyout.tooltipChevron::before {
  border-color: var(--drp-shadow-color) var(--drp-shadow-color) transparent
    transparent;
  border-width: 12px;
}

.drp-flyout.left.tooltipChevron::after {
  top: -8px;
  left: 15px;
}

.drp-flyout.left.tooltipChevron::before {
  top: -10px;
  left: 13px;
}

.drp-flyout.right.tooltipChevron::after {
  top: -8px;
  right: 15px;
}

.drp-flyout.right.tooltipChevron::before {
  top: -10px;
  right: 13px;
}

.drp-flyout.center.tooltipChevron::after {
  top: -8px;
  left: calc(50% - 12px);
}

.drp-flyout.center.tooltipChevron::before {
  top: -10px;
  left: calc(50% - 13px);
}

/* chevron / arrows */
svg {
  fill: var(--drp-fg);
}

.drp-btn.next svg {
  transform: rotateY(180deg);
}

.drp-btn.up svg {
  transform: rotate(90deg);
}

.drp-btn.down svg {
  transform: rotate(-90deg);
}

/* wrapper for both calendars */

.drp-calendars-wrapper {
  display: flex;
  justify-content: space-around;
}

/* wrapper for each calendar and its input box */

.drp-calendar-container {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .drp-calendars-wrapper {
    flex-wrap: wrap;
  }
  .drp-calendar-container + .drp-calendar-container {
    margin-top: 10px;
  }
}

/* Each row in calendar */

.drp-calendar-row {
  width: 100%;
  margin: 0;
  justify-content: space-between;
  display: flex;
}

.drp-calendar-row span {
  min-width: 14.29%;
  text-align: center;
  padding: 2px 0;
  transition: background 0.2s;
  border-radius: 2px;
}

.drp-calendar-row span.active {
  background: var(--drp-hover-bg);
}

.drp-calendar-row span.off {
  opacity: 0.65;
  filter: blur(0.05em);
}

.drp-calendar-row span:not(.day):hover {
  background: var(--drp-hover-bg);
}

.drp-calendar-row span:hover .drp-btn {
  color: var(--drp-hover-fg, var(--drp-fg));
}

/* Range buttons wrapper */
.range-controls {
  flex-wrap: wrap;
}

/* all buttons */

.drp-btn {
  border-radius: 4px;
  border: 1px solid var(--drp-fg);
  color: var(--drp-fg);
  background: var(--drp-bg);
  white-space: nowrap;
  transition: transform 0.3s, background 0.3s;
  line-height: 1.5;
  vertical-align: middle;
  box-shadow: none;
}

.drp-btn:hover {
  cursor: pointer;
}

.drp-btn + .drp-btn {
  margin-left: 5px;
}

.drp-btn.flat {
  background: transparent;
  border: none;
}

.drp-btn.flat:hover {
  background: var(--drp-hover-bg);
}

.drp-btn.flat.link:hover {
  background: var(--drp-bg);
  text-decoration: underline;
}

.drp-btn.outline {
  border: 1px solid var(--drp-outline-color);
  margin-bottom: 10px;
  padding: 0 5px;
}

.drp-btn.outline:hover {
  filter: invert(1) hue-rotate(180deg);
}

.drp-btn.apply {
  color: white;
  background: #129a90;
  border: 1px solid #125612;
}

/* Utility classes */

.disabled,
[disabled] {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.hidden {
  display: none !important;
}

.drp-flex {
  margin: 10px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drp-space-around {
  justify-content: space-around;
}

.drp-column {
  flex-direction: column;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
