<div class="drp-wrapper" [ngClass]="{dark: getThemeName()}">
  <input class="{{class}} drp-input" type="text" [ngModel]="range" [disabled]="derivedOptions.disabled"
    [attr.aria-label]="getAriaLabel()" [ngClass]="{ hidden: derivedOptions.alwaysOpen }" [attr.required]="derivedOptions.required" />
  <div class="drp-flyout {{getPositionClass()}}" [ngClass]="{
          hidden: !(showCalendars || derivedOptions.alwaysOpen),
          singledatepicker: derivedOptions.singleCalendar,
          tooltipChevron: !derivedOptions.alwaysOpen,
          alwaysOpen: derivedOptions.alwaysOpen
        }">
    <div class="drp-calendars-wrapper">
      <div class="drp-calendar-container">
        <input class="drp-calendar-input" [ngModel]="fromDate | formatDate: format" (blur)="formatFromDate($event)"
          readonly type="text" name="daterangepicker_start" />
        <calendar class="calender" [isLeft]="true" [month]="fromMonth" [year]="fromYear"
          (monthChanged)="monthChanged($event)" (yearChanged)="yearChanged($event)" (dateChanged)="dateChanged($event)"
          [format]="format" [selectedFromDate]="fromDate" [selectedToDate]="toDate" [minDate]="derivedOptions.minDate"
          [maxDate]="derivedOptions.maxDate" [inactiveBeforeStart]="derivedOptions.inactiveBeforeStart"
          [disableBeforeStart]="derivedOptions.disableBeforeStart" [timePicker]="derivedOptions.timePicker"
          [singleCalendar]="derivedOptions.singleCalendar"></calendar>
      </div>
      <div class="drp-calendar-container" *ngIf="!derivedOptions.singleCalendar">
        <input class="drp-calendar-input" [ngModel]="toDate | formatDate: format" (blur)="formatToDate($event)" readonly
          name="daterangepicker_end" />
        <calendar class="calender" [month]="toMonth" [year]="toYear" [format]="format"
          (dateChanged)="dateChanged($event)" (monthChanged)="monthChanged($event)" (yearChanged)="yearChanged($event)"
          [selectedFromDate]="fromDate" [selectedToDate]="toDate" [minDate]="derivedOptions.minDate"
          [maxDate]="derivedOptions.maxDate" [inactiveBeforeStart]="derivedOptions.inactiveBeforeStart"
          [disableBeforeStart]="derivedOptions.disableBeforeStart" [timePicker]="derivedOptions.timePicker"></calendar>
      </div>
    </div>
    <div class="my-0">
      <div class="drp-flex"><button [class.hidden]="isAutoApply()" class="drp-btn apply" [disabled]="!enableApplyButton"
          (click)="apply()" type="button">
          Apply
        </button>
        <button [class.hidden]="isAutoApply()" class="drp-btn cancel" (click)="cancel()" type="button">
          Cancel
        </button>
        <button [disabled]="!this.range" class="drp-btn flat link" (click)="clear()" type="button">
          Clear
        </button>
      </div>
      <div class="drp-flex range-controls" *ngIf="derivedOptions.showRanges && !derivedOptions.singleCalendar">
        <button *ngFor="let range of defaultRanges" class="drp-btn outline" (click)="applyPredefinedRange(range)"
          type="button">
          {{ range.name }}
        </button>
      </div>
    </div>
  </div>
</div>
