<div class="drp-wrapper {{derivedOptions.theme}}">
  <input class="{{class}} drp-input" [attr.placeholder]="derivedOptions.placeholder" type="text" [ngModel]="range"
    [disabled]="derivedOptions.disabled" [attr.aria-label]="getAriaLabel()" [class.hidden]="derivedOptions.alwaysOpen"
    [attr.required]="derivedOptions.required" [attr.readonly]="derivedOptions.readOnly ? true : null" />
  <div class="drp-flyout {{derivedOptions.position}}" [ngClass]="{
          hidden: !(showCalendars || derivedOptions.alwaysOpen),
          singledatepicker: derivedOptions.singleCalendar,
          tooltipChevron: !derivedOptions.alwaysOpen,
          alwaysOpen: derivedOptions.alwaysOpen,
          touch: derivedOptions.addTouchSupport,
          fixed: !isLargeDesktop
        }">
    <div class="drp-calendars-wrapper">
      <div class="drp-calendar-container">
        <span class="drp-selected-date">{{fromDate | formatDate: derivedOptions.displayFormat}}</span>
        <calendar class="calender" [isLeft]="true" [month]="fromMonth" [year]="fromYear" (scrollTop)="scrollTop()"
          (monthChanged)="monthChanged($event)" (yearChanged)="yearChanged($event)" (dateChanged)="dateChanged($event)"
          [format]="format" [selectedFromDate]="fromDate" [selectedToDate]="toDate" [minDate]="derivedOptions.minDate"
          [maxDate]="derivedOptions.maxDate" [inactiveBeforeStart]="derivedOptions.inactiveBeforeStart"
          [disableBeforeStart]="derivedOptions.disableBeforeStart" [timePicker]="derivedOptions.timePicker"
          [singleCalendar]="derivedOptions.singleCalendar" [weekStartsOn]="derivedOptions.weekStartsOn"
          [addTouchSupport]="derivedOptions.addTouchSupport"></calendar>
      </div>
      <div class="drp-calendar-container" *ngIf="!derivedOptions.singleCalendar">
        <span class="drp-selected-date">{{toDate | formatDate: derivedOptions.displayFormat}}</span>
        <calendar class="calender" [month]="toMonth" [year]="toYear" [format]="format" (scrollTop)="scrollTop()"
          (dateChanged)="dateChanged($event)" (monthChanged)="monthChanged($event)" (yearChanged)="yearChanged($event)"
          [selectedFromDate]="fromDate" [selectedToDate]="toDate" [minDate]="derivedOptions.minDate"
          [maxDate]="derivedOptions.maxDate" [inactiveBeforeStart]="derivedOptions.inactiveBeforeStart"
          [disableBeforeStart]="derivedOptions.disableBeforeStart" [timePicker]="derivedOptions.timePicker"
          [weekStartsOn]="derivedOptions.weekStartsOn" [addTouchSupport]="derivedOptions.addTouchSupport"></calendar>
      </div>
    </div>
    <div class="my-0 drp-controls">
      <div class="drp-flex" [hidden]="derivedOptions.hideControls">
        <button [class.hidden]="derivedOptions.autoApply" class="drp-btn apply" [disabled]="!enableApplyButton"
          (click)="apply()" type="button">
          Apply
        </button>
        <button [class.hidden]="derivedOptions.autoApply" class="drp-btn cancel" (click)="cancel()" type="button">
          Cancel
        </button>
        <button [disabled]="!this.range" class="drp-btn flat link" (click)="clear()" type="button">
          Clear
        </button>
      </div>
      <div class="drp-flex range-controls" *ngIf="derivedOptions.showRanges && !derivedOptions.singleCalendar">
        <button *ngFor="let range of derivedOptions.preDefinedRanges" class="drp-btn outline"
          (click)="applyPredefinedRange(range)" type="button">
          {{ range.name }}
        </button>
      </div>
    </div>
  </div>
</div>
