<div class="drp-wrapper" [ngClass]="{dark: getThemeName()}">
  <input class="{{class}} drp-input" type="text" [ngModel]="range" [disabled]="options.disabled"
    aria-label="Input your date range" [ngClass]="{ hidden: options.alwaysOpen }" />
  <div class="drp-flyout {{getPositionClass()}}" [ngClass]="{
          hidden: !(showCalendars || options.alwaysOpen),
          singledatepicker: options.singleCalendar,
          tooltipChevron: !options.alwaysOpen,
          alwaysOpen: options.alwaysOpen
        }">
    <div class="drp-flex drp-space-around mobile-column">
      <div class="drp-calendar-container">
        <input class="drp-calendar-input" [ngModel]="fromDate | formatDate: format" (blur)="formatFromDate($event)"
          readonly type="text" name="daterangepicker_start" />
        <calendar class="calender" [isLeft]="true" [month]="fromMonth" [year]="fromYear"
          (monthChanged)="monthChanged($event)" (yearChanged)="yearChanged($event)" (dateChanged)="dateChanged($event)"
          [format]="format" [selectedFromDate]="fromDate" [selectedToDate]="toDate" [minDate]="options.minDate"
          [maxDate]="options.maxDate" [inactiveBeforeStart]="options.inactiveBeforeStart"
          [disableBeforeStart]="options.disableBeforeStart" [timePicker]="options.timePicker"
          [singleCalendar]="options.singleCalendar"></calendar>
      </div>
      <div class="drp-calendar-container" *ngIf="!options.singleCalendar">
        <input class="drp-calendar-input" [ngModel]="toDate | formatDate: format" (blur)="formatToDate($event)" readonly
          name="daterangepicker_end" />
        <calendar class="calender" [month]="toMonth" [year]="toYear" [format]="format"
          (dateChanged)="dateChanged($event)" (monthChanged)="monthChanged($event)" (yearChanged)="yearChanged($event)"
          [selectedFromDate]="fromDate" [selectedToDate]="toDate" [minDate]="options.minDate"
          [maxDate]="options.maxDate" [inactiveBeforeStart]="options.inactiveBeforeStart"
          [disableBeforeStart]="options.disableBeforeStart" [timePicker]="options.timePicker"></calendar>
      </div>
    </div>
    <div class="my-0">
      <div class="drp-flex"><button [class.hidden]="isAutoApply()" class="drp-control apply"
          [disabled]="!enableApplyButton" (click)="apply()" type="button">
          Apply
        </button>
        <button [class.hidden]="isAutoApply()" class="drp-control cancel" (click)="cancel()" type="button">
          Cancel
        </button>
        <button [disabled]="!this.range" class="drp-control drp-btn drp-link" (click)="clear()" type="button">
          Clear
        </button>
      </div>
      <div class="drp-flex range-controls" *ngIf="options.showRanges && !options.singleCalendar">
        <button *ngFor="let range of defaultRanges" class="drp-btn drp-link" (click)="applyPredefinedRange(range)"
          type="button">
          {{ range.name }}
        </button>
      </div>
    </div>
  </div>
</div>
