<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
  <a class="navbar-brand h4" href="https://github.com/technikhil314/angular-components">
    Angular Date & time range picker
  </a>
  <div class="ml-md-auto">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link h5" href="https://technikhil314.netlify.app/docs/daterangepicker/introduction">
          Documentation
        </a>
      </li>
    </ul>
  </div>
  <div class="ml-md-auto">
    <a href="https://github.com/technikhil314/angular-components/stargazers" class="mr-4">
      <img src="https://img.shields.io/github/stars/technikhil314/angular-components?style=social" alt="stargazers">
    </a>
    <a href="https://github.com/technikhil314/angular-components/fork" class="mr-4">
      <img src="https://img.shields.io/github/forks/technikhil314/angular-components?style=social"
        alt="number of forks">
    </a>
  </div>
</nav>
<main class="row container-fluid mx-auto main max-vh-100">
  <div class="col-xs-12 col-md-5">
    <h3>Configuration Options Generator</h3>
    <form class="row">
      <div class="form-group col-12 col-md-6">
        <label class="label control-label mr-3" for="format">Format</label>
        <input type="text" class="form-control" name="format" (blur)="formatChanged('format', $event)"
          [ngModel]=daterangepickerOptions.format id="format">
      </div>
      <div class="form-group col-12 col-md-6">
        <label class="label control-label mr-3" for="displayFormat">Display Format</label>
        <input type="text" class="form-control" name="displayFormat" (blur)="formatChanged('displayFormat', $event)"
          [ngModel]=daterangepickerOptions.displayFormat id="displayFormat">
      </div>
      <div class="form-group col-12 col-md-6">
        <label class="label control-label" for="background">Start Date</label>
        <daterangepicker class="form-control" [options]="startDateConfigDatePickerOptions"
          (rangeSelected)="optionChanged('startDate', $event)">
        </daterangepicker>
      </div>
      <div class="form-group col-12 col-md-6">
        <label class="label control-label" for="background">
          End Date
        </label>
        <daterangepicker class="form-control" [options]="endDateConfigDatePickerOptions"
          (rangeSelected)="optionChanged('endDate', $event)">
        </daterangepicker>
      </div>
      <div class="form-group col-12 col-md-6">
        <label class="label control-label" for="background">Min Date</label>
        <daterangepicker class="form-control" [options]="minDateConfigDatePickerOptions"
          (rangeSelected)="optionChanged('minDate', $event)">
        </daterangepicker>
      </div>
      <div class="form-group col-12 col-md-6">
        <label class="label control-label" for="background">Max Date</label>
        <daterangepicker class="form-control" [options]="maxDateConfigDatePickerOptions"
          (rangeSelected)="optionChanged('maxDate', $event)">
        </daterangepicker>
      </div>
      <div class="form-group col-12 col-md-6">
        <label class="label control-label mr-3" for="weekStartsOn">Week Starts On <small>(Sun = 0 / Sat =
            6)</small></label>
        <input type="number" class="form-control" name="weekStartsOn" [(ngModel)]=daterangepickerOptions.weekStartsOn
          id="weekStartsOn">
      </div>
      <div class="form-group col-12 col-md-6">
        <label class="label control-label mr-3" for="disabledDays">Disabled Days <small>(Sun = 0 / Sat =
            6)</small></label>
        <input type="text" class="form-control" name="disabledDays" (blur)="disabledDaysChanged($event)"
          [ngModel]=daterangepickerOptions.disabledDays id="disabledDays">
      </div>
      <div class="form-group col-12 col-md-6">
        <label class="label control-label mr-3" for="placeholder">Placeholder</label>
        <input type="text" class="form-control" name="placeholder" [(ngModel)]=daterangepickerOptions.placeholder
          id="placeholder">
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="singleCalendar" [(ngModel)]=daterangepickerOptions.singleCalendar
          id="singleCalendar">
        <label class="label control-label" for="singleCalendar">Single Calendar</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="disableWeekEnds" [(ngModel)]=daterangepickerOptions.disableWeekEnds
          id="disableWeekEnds">
        <label class="label control-label" for="disableWeekEnds">Disable Week Ends</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="hideControls" [(ngModel)]=daterangepickerOptions.hideControls id="hideControls">
        <label class="label control-label" for="hideControls">Hide Controls</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="autoApply" [(ngModel)]=daterangepickerOptions.autoApply id="autoApply">
        <label class="label control-label" for="autoApply">Auto Apply</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="inactiveBeforeStart" [(ngModel)]=daterangepickerOptions.inactiveBeforeStart
          id="inactiveBeforeStart">
        <label class="label control-label" for="inactiveBeforeStart">Inactive Before Start</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="disableBeforeStart" [(ngModel)]=daterangepickerOptions.disableBeforeStart
          id="disableBeforeStart">
        <label class="label control-label" for="disableBeforeStart">Disable Before Start</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="readOnly" [(ngModel)]=daterangepickerOptions.readOnly id="readOnly">
        <label class="label control-label" for="readOnly">Read Only</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="disabled" [(ngModel)]=daterangepickerOptions.disabled id="disabled">
        <label class="label control-label" for="disabled">Disabled</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="showRanges" [(ngModel)]="daterangepickerOptions.showRanges" id="showRanges">
        <label class="label control-label" for="showRanges">Show Ranges</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="noDefaultRangeSelected" (click)="optionChanged('noDefaultRangeSelected', $event)"
          [ngModel]="daterangepickerOptions.noDefaultRangeSelected" id="noDefaultRangeSelected">
        <label class="label control-label" for="noDefaultRangeSelected">No Default Range
          Selected</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="timepicker" [ngModel]="isTimePickerEnabled" (change)="setTimePicker($event)"
          id="timepicker">
        <label class="label control-label" for="timepicker">TimePicker</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="alwaysOpen" [(ngModel)]="daterangepickerOptions.alwaysOpen" id="alwaysOpen">
        <label class="label control-label" for="alwaysOpen">Always Open</label>
      </div>
      <div class="form-group col-12 col-md-6">
        <p class="font-weight-bold">Theme</p>
        <div class="form-group col-12">
          <input type="radio" name="theme" value="light" [(ngModel)]="daterangepickerOptions.theme" id="theme-light">
          <label class="label control-label" for="theme-light">Light</label>
        </div>
        <div class="form-group col-12">
          <input type="radio" name="theme" value="dark" [(ngModel)]="daterangepickerOptions.theme" id="theme-dark">
          <label class="label control-label" for="theme-dark">Dark</label>
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <p class="font-weight-bold">Position</p>
        <div class="form-group col-12">
          <input type="radio" name="position" value="left" [(ngModel)]="daterangepickerOptions.position"
            id="position-left" [disabled]="daterangepickerOptions.alwaysOpen">
          <label class="label control-label" for="position-left">Left</label>
        </div>
        <div class="form-group col-12">
          <input type="radio" name="position" value="right" [(ngModel)]="daterangepickerOptions.position"
            id="position-right" [disabled]="daterangepickerOptions.alwaysOpen">
          <label class="label control-label" for="position-right">Right</label>
        </div>
        <div class="form-group col-12">
          <input type="radio" name="position" value="center" [(ngModel)]="daterangepickerOptions.position"
            id="position-center" [disabled]="daterangepickerOptions.alwaysOpen">
          <label class="label control-label" for="position-center">Center</label>
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="checkbox" name="addTouchSupport" [(ngModel)]=daterangepickerOptions.addTouchSupport
          id="addTouchSupport">
        <label class="label control-label" for="addTouchSupport">
          Add touch support * <small>WIP</small>
        </label>
        <p>
          <small>Works only on touch devices</small>
          <br />
          <small>
            <em>
              Check <a href="https://technikhil314.netlify.app/docs/daterangepicker/introduction">Documentation</a> for
              more details
            </em>
          </small>
        </p>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-md-3">
    <h3>Live Demo</h3>
    <div class="col-xs-12">
      <daterangepicker [options]="daterangepickerOptions" (rangeSelected)="rangeSelected($event)">
      </daterangepicker>
      <div class="col-xs-12 mt-5">
        <p class="m-0 p-0">
          <strong class="mr-2">Selected Range Data</strong>
          <small><em>Shown in UTC time</em></small>
        </p>
        <pre>{{prettyPrintJSON(selectedRange)}}</pre>
      </div>
    </div>
    <div class="col-xs-12">
      <form class="mt-2">
        <div class="form-group">
          <h4 class="font-weight-bold mb-0">Theming</h4>
          <small class="mb-4">You can theme the component from here</small>
          <div class="form-group">
            <input type="color" name="background" data-css-prop-name="--drp-bg" (input)="colorChange($event)"
              id="background">
            <label class="label control-label" for="background">Background</label>
          </div>
          <div class="form-group">
            <input type="color" name="foreground" data-css-prop-name="--drp-fg" (input)="colorChange($event)"
              id="foreground">
            <label class="label control-label" for="foreground">Text color</label>
          </div>
          <div class="form-group">
            <input type="color" name="hover-color" data-css-prop-name="--drp-hover-bg" (input)="colorChange($event)"
              id="hover-color">
            <label class="label control-label" for="hover-color">Hover Background Color</label>
          </div>
          <div class="form-group">
            <input type="color" name="hover-text-color" data-css-prop-name="--drp-hover-fg"
              (input)="colorChange($event)" id="hover-text-color">
            <label class="label control-label" for="hover-text-color">Hover Text Color</label>
          </div>
          <div class="form-group">
            <input type="color" name="shadow-color" data-css-prop-name="--drp-shadow-color"
              (input)="colorChange($event)" id="shadow-color">
            <label class="label control-label" for="shadow-color">Shadow Color</label>
          </div>
          <div class="form-group">
            <input type="color" name="outline-color" data-css-prop-name="--drp-outline-color"
              (input)="colorChange($event)" id="outline-color">
            <label class="label control-label" for="outline-color">Outline Color</label>
          </div>
          <div class="form-group">
            <input type="color" name="input-border-color" data-css-prop-name="--drp-input-border-color"
              (input)="colorChange($event)" id="input-border-color">
            <label class="label control-label" for="input-border-color">Input Border Color</label>
          </div>
          <div class="form-group">
            <input type="color" name="input-disabled-color" data-css-prop-name="--drp-input-disabled-color"
              (input)="colorChange($event)" id="input-disabled-color">
            <label class="label control-label" for="input-disabled-color">Input Disabled Color</label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-12">
      <b>Theme Config</b>
      <br />
      <small>Add these css variables to your stylesheet</small>
      <pre>{{prettyPrintJSON(themeObject)}}</pre>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 configuration">
    <h4>Configuration</h4>
    <pre>{{prettyPrintJSON(daterangepickerOptions)}}</pre>
  </div>
</main>
