<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand h4" href="https://github.com/technikhil314/angular-components">Angular Date and time range
    picker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link h5" href="https://technikhil314.netlify.app/docs/daterangepicker/introduction">
          Documentation</a>
      </li>
    </ul>
  </div>
  <div class="ml-auto row">
    <a href="https://github.com/technikhil314/angular-components/stargazers" class="mr-4">
      <img src="https://img.shields.io/github/stars/technikhil314/angular-components?style=social" alt="stargazers">
    </a>
    <a href="https://github.com/technikhil314/angular-components/fork" class="mr-4">
      <img src="https://img.shields.io/github/forks/technikhil314/angular-components?style=social"
        alt="number of forks">
    </a>
  </div>
</nav>
<div class="row main">
  <div class="col-xs-12 col-md-4">
    <h3>Live Demo</h3>
    <div class="col-xs-12 flush">
      <daterangepicker [options]="daterangepickerOptions" (rangeSelected)="rangeSelected($event)">
      </daterangepicker>
      <div class="col-xs-12 mt-5">
        <strong>Selected Range Data</strong>
        <pre>{{prettyPrintJSON(selectedRange)}}</pre>
      </div>
    </div>
    <div class="col-xs-12">
      <form class="mt-2">
        <div class="form-group">
          <h4 class="font-weight-bold">Theming</h4>
          <div class="form-group">
            <input type="color" name="background" data-css-prop-name="--drp-background" (input)="colorChange($event)"
              id="background">
            <label class="label control-label" for="background">Background</label>
          </div>
          <div class="form-group">
            <input type="color" name="foreground" data-css-prop-name="--drp-foreground" (input)="colorChange($event)"
              id="foreground">
            <label class="label control-label" for="foreground">Foreground</label>
          </div>
          <div class="form-group">
            <input type="color" name="hover-color" data-css-prop-name="--drp-hover-color" (input)="colorChange($event)"
              id="hover-color">
            <label class="label control-label" for="hover-color">Hover Color</label>
          </div>
          <div class="form-group">
            <input type="color" name="shadow-color" data-css-prop-name="--drp-shadow-color"
              (input)="colorChange($event)" id="shadow-color">
            <label class="label control-label" for="shadow-color">Shadow Color</label>
          </div>
          <div class="form-group">
            <input type="color" name="outline-color" data-css-prop-name="--drp-outline-color"
              (input)="colorChange($event)" id="outline-color">
            <label class="label control-label" for="outline-color">Outline Color</label>
          </div>
          <div class="form-group">
            <input type="color" name="border-color" data-css-prop-name="--drp-border-color"
              (input)="colorChange($event)" id="border-color">
            <label class="label control-label" for="border-color">Border Color</label>
          </div>
          <div class="form-group">
            <input type="color" name="disabled-color" data-css-prop-name="--drp-disabled-color"
              (input)="colorChange($event)" id="disabled-color">
            <label class="label control-label" for="disabled-color">Disabled Color</label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-12">
      <b>Theme Config</b>
      <br />
      <small>You can theme the component from here</small>
      <pre>{{prettyPrintJSON(themeObject)}}</pre>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 separator-right">
    <h3>Configuration Options Generator</h3>
    <form>
      <div class="form-group">
        <input type="checkbox" name="singleCalendar" [(ngModel)]=daterangepickerOptions.singleCalendar
          id="singleCalendar">
        <label class="label font-weight-bold control-label" for="singleCalendar">Single Calendar</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="autoApply" [(ngModel)]=daterangepickerOptions.autoApply id="autoApply">
        <label class="label font-weight-bold control-label" for="autoApply">Auto Apply</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="inactiveBeforeStart" [(ngModel)]=daterangepickerOptions.inactiveBeforeStart
          id="inactiveBeforeStart">
        <label class="label font-weight-bold control-label" for="inactiveBeforeStart">Inactive Before Start</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="disableBeforeStart" [(ngModel)]=daterangepickerOptions.disableBeforeStart
          id="disableBeforeStart">
        <label class="label font-weight-bold control-label" for="disableBeforeStart">Disable Before Start</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="disabled" [(ngModel)]=daterangepickerOptions.disabled id="disabled">
        <label class="label font-weight-bold control-label" for="disabled">Disabled</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="showRanges" [(ngModel)]="daterangepickerOptions.showRanges" id="showRanges">
        <label class="label font-weight-bold control-label" for="showRanges">Show Ranges</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="noDefaultRangeSelected" [(ngModel)]="daterangepickerOptions.noDefaultRangeSelected"
          id="noDefaultRangeSelected">
        <label class="label font-weight-bold control-label" for="noDefaultRangeSelected">No Default Range
          Selected</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="timepicker" [ngModel]="isTimePickerEnabled" (change)="setTimePicker($event)"
          id="timepicker">
        <label class="label font-weight-bold control-label" for="timepicker">TimePicker</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="alwaysOpen" [(ngModel)]="daterangepickerOptions.alwaysOpen" id="alwaysOpen">
        <label class="label font-weight-bold control-label" for="alwaysOpen">Always Open</label>
      </div>
      <div class="form-group">
        <p class="font-weight-bold">Theme</p>
        <div class="form-group">
          <input type="radio" name="theme" value="light" [(ngModel)]="daterangepickerOptions.theme" id="theme-light">
          <label class="label control-label" for="theme-light">Light</label>
        </div>
        <div class="form-group">
          <input type="radio" name="theme" value="dark" [(ngModel)]="daterangepickerOptions.theme" id="theme-dark">
          <label class="label control-label" for="theme-dark">Dark</label>
        </div>
      </div>
      <div class="form-group">
        <p class="font-weight-bold">Position</p>
        <div class="form-group">
          <input type="radio" name="position" value="left" [(ngModel)]="daterangepickerOptions.position"
            id="position-left" [disabled]="daterangepickerOptions.alwaysOpen">
          <label class="label control-label" for="position-left">Left</label>
        </div>
        <div class="form-group">
          <input type="radio" name="position" value="right" [(ngModel)]="daterangepickerOptions.position"
            id="position-right" [disabled]="daterangepickerOptions.alwaysOpen">
          <label class="label control-label" for="position-right">Right</label>
        </div>
        <div class="form-group">
          <input type="radio" name="position" value="center" [(ngModel)]="daterangepickerOptions.position"
            id="position-center" [disabled]="daterangepickerOptions.alwaysOpen">
          <label class="label control-label" for="position-center">Center</label>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-md-4">
    <h4>Configuration</h4>
    <pre>{{prettyPrintJSON(daterangepickerOptions)}}</pre>
  </div>
</div>
