.main {
  width: 100%;
  margin-top: 80px;
}

.header {
  position: fixed;
  height: 65px;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 0 5px 5px #ddd;
  padding: 0 20px;
}

.label {
  color: black;
  margin-bottom: 0;
  margin-left: 4px;
}

@media only screen and (max-width: 767px) {
  .main {
    margin-top: 130px;
  }
}
